<%= render 'users/info', user: @user %>
<%= render "books/form", book: @book %>
  


<div class="books">
  <h4>Books</h4>
  <% @books.each do |book| %>
    <table>
      <tr>
        <th><%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40' %></th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
        <td><%= link_to book.title, book_path(book) %></td>
        <td><%= book.body %></td>
    </table>
  <% end %>
</div>

